1.Fill null values of a data frame using median and mode

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame({'A':[1,2,3,np.nan,7],
                  'B':[3,6,np.nan,4,9],
                  'C':[5,np.nan,23,16,34],
                  'D':[4,6,7,8,np.nan]})

In [3]:
df

     A    B     C    D
0  1.0  3.0   5.0  4.0
1  2.0  6.0   NaN  6.0
2  3.0  NaN  23.0  7.0
3  NaN  4.0  16.0  8.0
4  7.0  9.0  34.0  NaN

In [4]:
df.fillna(value=df.median())

     A    B     C    D
0  1.0  3.0   5.0  4.0
1  2.0  6.0  19.5  6.0
2  3.0  5.0  23.0  7.0
3  2.5  4.0  16.0  8.0
4  7.0  9.0  34.0  6.5

In [5]:
df.fillna(value=df.mode())

     A    B     C    D
0  1.0  3.0   5.0  4.0
1  2.0  6.0  16.0  6.0
2  3.0  6.0  23.0  7.0
3  7.0  4.0  16.0  8.0
4  7.0  9.0  34.0  NaN